a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  
}

.navbar {
    background-color: #12BA19;
    font-family: 'Inter', sans-serif;
    
}
.nav-item {
    margin-left: 10px;
    font-size: 20px;
}

.bike-logo {
    height: 4em;
    margin: 0px 20px 0px 20px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
@media (max-width: 960px) {
    .bike-logo {
        height: 2em;
    }
}
