

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.background-bike-container {
    width: 100%;
    height: 145px;
    background-image: url(./components/images/backgrounbike2.png);
    background-size: cover;
    background-position: 0px 242px;
    overflow: hidden;
}
#custom-container {
    max-width: none;
    position: relative;
    padding: 0px;
    width: 100vw;
}
.custom-container {
    max-width: none;
    position: relative;
    top: -3px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.index-styling {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin: 50px 10% 0px 10%;
}

.journey-alternating-border {
    position: relative;
    top: 26px;
    margin-bottom: 70px;
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(90deg, transparent 0%, transparent 5%, #E1AD01 5%, #E1AD01 45%, transparent 45%, transparent 55%, #0F0F0F 55%, #0F0F0F 95%, transparent 95%), linear-gradient(90deg, transparent 0%, transparent 5%, #E1AD01 5%, #E1AD01 45%, transparent 45%, transparent 55%, #0F0F0F 55%, #0F0F0F 95%, transparent 95%);
    background-repeat: repeat-x;
    background-size: 200px 6px, 200px 6px;
    background-position: top center, bottom center;
    padding: 2px 0;
    box-sizing: border-box;
}
.journey-list {
    margin-bottom: 40px;
}
.journey-list-header-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
    .journey-list-header-image img {
        height: 50%;
    }
    .journey-alternating-border h1 {
        font-family: 'Leckerli One', cursive;
    }
.journey-list h1 {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    margin-left: 20%; /* Add some margin to the left of h1 */
    margin-bottom: 30px;
}

.journey-list p {
    text-align: left; /* This will right-align the text inside the p element */
    margin-left: 30%; /* Add some margin to the right of p */
    font-family: 'Alike', serif;
}

.left-bike, .right-bike {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* This is for vertical centering */
}

.left-bike {
    left: 0; /* push the left bike to the far left */
}

.right-bike {
    right: 0; /* push the right bike to the far right */
}

.journey-list h1 {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
}
.lobster-label {
    font-family: 'Lobster', cursive;
    font-size: 1.2em; /* Adjust size as required */
    margin-right: 30px;
}
@keyframes slideRight {
    0% {
        background-position: -100vw -30px; /* Slide from left */
    }

    100% {
        background-position: 0px -30px; /* Normal position */
    }
}
@keyframes slideLeft {
    0% {
        background-position: 100vw -30px; /* Slide from right */
    }

    100% {
        background-position: 0px -30px; /* Normal position */
    }
}
.apply-slide-left {
    animation: slideLeft .2s ease-out;
}
.background_station_list_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-image: url(./components/images/bikestationbackground.png);
    background-size: cover;
    background-position: 0px -30px;
    overflow: hidden;
    z-index: 1;
    
}

.station_details_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-image: url(./components/images/bikestationinfo.png);
    background-size: cover;
    background-position: 0px -30px;
    overflow: hidden;
    z-index: 1;
    animation: slideRight .2s ease-out;
}

    .background_station_list_container h1, .station_details_container h1{
        font-family: 'Lobster', cursive;
        color: #E1AD01;
        z-index: 7;
        margin-left: 60px;
        font-size: 4em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 5;
    opacity: .15;
}

.map-background-container {
    position: absolute; /* Fixed positioning to ensure it covers the full viewport */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 2%;; /* A value between 0 and 1; changed from 5% to 0.05 */
    z-index: -20; /* This ensures the background is below all other content. */

    background-image: url('./components/images/mapbackgroundrepeating.png'); /* Points to the image in the same directory as other images */
    background-size: 100vw auto; /* 100% of the viewport width, auto height to maintain aspect ratio */
    background-repeat: repeat-y; /* Repeat only vertically */
}
.bike-parts-background-container {
    position: absolute; /* Fixed positioning to ensure it covers the full viewport */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 20%;
    ; /* A value between 0 and 1; changed from 5% to 0.05 */
    z-index: -20; /* This ensures the background is below all other content. */

    background-image: url('./components/images/bikepartsbackground.png'); /* Points to the image in the same directory as other images */
    background-size: 50vw auto; /* 100% of the viewport width, auto height to maintain aspect ratio */
    background-repeat: repeat-y; /* Repeat only vertically */
}  

.all-stations-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.all-stations-list p, .all-stations-list h1 {
   margin-bottom: 0px;
}
    .all-stations-list p {
        font-family: 'Alike', serif;
        margin-right: 100px;
        font-size: 1.7em;
    }
    .all-stations-list:first-of-type {
        margin-top: 40px;
    }
    .all-stations-list h1 {
        font-family: 'Lobster', cursive;
        margin-right: 20px;
    }

.x-marks-the-spot {
    height: 40px;
   
}

.orange-line, .black-line {
    width: 70px;
    height: 7px;
    margin-top: 20px;
    margin-bottom: 20px; /* Adds space between the two lines */
}

.orange-line {
    margin: 20px 40px 20px 0px;
    background-color: #E1AD01;
}

.black-line {
    background-color: #0F0F0F;
}

.clickable {
    cursor: pointer;
    transition: font-size .6s, color .6s;
    align-self: center;
}
    .clickable:hover {
        font-size: 1.3em;
        color: #E1AD01;
    }

.location-map {
    height: 80px;
    cursor: pointer;
}


.map-and-text-wrapper {
    display: flex;
    align-items: center; /* This vertically aligns the child elements */
    justify-content: flex-start; /* This will align items to the left, adjust if needed */
}

    .map-and-text-wrapper p {
        text-align: center;
        margin-bottom: 0px;
        font-family: 'Alike', serif;
        font-size: 1.2em;
    }

.station-details-button {
    border-radius: 5px;
    background-color: #E1AD01;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    font-family: 'Alike', serif; /* 'serif' is a fallback font in case 'Alike' doesn't load */
}

    .station-details-button:hover {
        font-size: 1.2em;
        transition: font-size .6s, color .6s;
    }
.bicycle-wheel {
    height: 90px;
    margin-right: 20px;
}
.station-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100vw;
    margin-right: 30px;
    height: 90px;
}

.details-header {
    margin-left: 30px;
}
.selected-station-button {
    border-radius: 5px;
    background-color: #E1AD01;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    font-family: 'Alike', serif; /* 'serif' is a fallback font in case 'Alike' doesn't load */
    
}

.orange-text {
    color: #E1AD01;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adjust as needed */
}

@media (min-width: 768px) {
    .reload {
        font-size: 24px;
        min-width: 196px;
    }
    .background-bike-container {
        width: 100%;
        height: 351px;
        background-image: url(./components/images/backgrounbike2.png);
        background-size: cover;
        background-position: 0px 502px;
        overflow: hidden;
    }
   
   
        .journey-list-header-image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

            .journey-list-header-image img {
                height: 70%;
            }

        .journey-alternating-border h1 {
            font-family: 'Leckerli One', cursive;
        }

        .left-bike, .right-bike {
            position: absolute;
            top: 50%;
            transform: translateY(-50%); /* This is for vertical centering */
        }

        .left-bike {
            left: 0; /* push the left bike to the far left */
        }

        .right-bike {
            right: 0; /* push the right bike to the far right */
        }
    .background_station_list_container {
        height: 351px;
    }
        .background_station_list_container h1 {
         
            font-size: 5em;
            
        }

    .station_details_container {
        height: 351px;
        background-position: 0px -500px;
    }

   

}
